.login{
    width: 600px;
    margin: auto;
}

.signup_date_width {
    width: 10px;
}

.login_otp{
    width: 600px;
    margin: auto;
}

/*.login_email {*/
/*    margin-left: 27px;*/
/*    width: 249px;*/
/*}*/
/*.login_password {*/
/*    width: 250px;*/
/*    margin-left: 16px;*/
/*}*/

/*.myButton {*/
/*    position: absolute;*/
/*    top: 33px;*/
/*    right: 0;*/
/*    margin-right: 50px;*/
/*}*/
